.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #fafafa;
  color: white;
}

.appLogo {
  width: 9rem;
  margin-bottom: 1rem;
}

.appText {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #1d1d1d;
}

.appHeader {
  padding: 2rem;
  background-color: #fafafa;
  color: white;
}

.appBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: white;
}

.appImage {
  width: 15rem;
  margin: auto;
}

.addButton {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #8095ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addButton:hover {
  background-color: #5f6bff;

}

.appLists {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  color: white;
  max-width: 1300px;
  width: 100%;
}

.appList {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(90% - 2rem);
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: #ebeeff;
  color: white;
  border: 2px solid #8095ff;
  padding: 0.75rem 0.5rem;
}

.copyButton {
  background-color: #afbcff;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  color: white;
}


.appFiles li {
  list-style: none;
}

.appFiles {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
  width: calc(85% - 2rem);
  color: #333;
}

.fileListStyles {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  color: #333;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns with equal width */
  gap: 5px;
}

.fileItemStyles {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.appOr {
  color: #1d1d1d;
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.confirmButton {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #2ecc71;
  margin-top: 1rem;
  width: 100%;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirmButton:hover {
  background-color: #27ae60;
  /* Change hover color as needed */
}

@media screen and (max-width: 600px) {

  .fileListStyles {
    grid-template-columns: 1fr;
  }

}